.bar {

	@include box-sizing;

	background-color: $white;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	display: table;
	height: 4rem;
	padding: 0 1rem;
	margin: 0;
	width: 100%;

	> * {
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
	}

	&__menu {

		list-style: none;
		margin: 0;
		padding: 0;

	}

	&__item ,
	&__menu__item {

		color: inherit;
		padding: 1rem;
		text-align: center;
		text-decoration: none;

		.fa {
			font-size: 1.75rem;
		}

		.btn {
			box-shadow: 0 1px 1px #999;
		}

	}

	&--big {
		height: 6rem;
	}

	&--blue {
		background-color: $blue;
	}

	&--border-radius {
		border-radius: 0.5rem;
	}

	&--bottom {
		border-bottom: none;
		bottom: 0;
		position: fixed;
	}

	&--green {
		background-color: $green;
		border-bottom-color: $white;
		color: $white;
	}

	&__title {

		font-size: 1.5rem;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	&--top {
		border: none;
		box-shadow: 0 0 3px $grey-dark;
		position: fixed;
		top: 0;
	}

	&--transparent {
		background-color: transparent;
		border-bottom: none;
	}

}
