
$green  : #3C9;
$red    : #F33;
$black  : #333;
$white  : #FFF;
$purple : #90C;

$blue-light : #09F;
$blue       : #03F;
$blue-dark  : #006;

$grey-light : #EEE;
$grey       : #BBB;
$grey-dark  : #888;
